{% load staticfiles %}
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

<script>
    {#  #}
    function updateCartCount() {
        var badge_items_count = $("#cart-count-badge");
        var badge_sum_price = $("#cart-sum-price-badge");
        $.ajax({
            type: "GET",
            url: "{% url 'item_count' %}",
            success: function (data) {
                console.log("1count: ", data.cart_item_count);
                if(data.cart_item_count < 1){
                    badge_items_count.hide();
                    badge_sum_price.hide();
                } else {
                    badge_items_count.show();
                    badge_sum_price.show();
                    badge_items_count.text(data.cart_item_count);
                    badge_sum_price.text(data.cart_sum_price + " €");
                }
            },
            error: function (response, error) {
                console.log(response);
                console.log(error)
            }
        })
    }


    $(document).ready(function () {
        updateCartCount();
    });
</script>