.text-align-center {
	text-align: center;
}
.jumbotron {
	background-color: #413F5D;
	color: #08a8d5;
}
.fa-navbar-cart {
	font-size: 18px;
	vertical-align: middle;
}
.container-alert-flash2 {
	position: absolute;
	top: 10px;
	z-index: 50000;
	width: 100%;
	right: 0;
	margin: 0;
	display: none;
}
.btn-success{
	background-color: #413F5D;
	border-color: rgba(61, 23, 129, 0.58);
}
.btn-success:hover, .open > .dropdown-toggle.btn-success {
	color: #2b2a3b;
	background-color: #ffffff;
	border-color: rgba(61, 23, 129, 0.58);
}
.og-price{
	color: #ef2846;
    text-decoration: line-through;
}