{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="col-xs-8 col-xs-offset-2">
        <form method="POST" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="row ">
            <div class="col-xs-3">
                <a href="{% url 'checkout' %}" class="btn btn-block btn-primary">Back to Order</a>
            </div>
            <div class="col-xs-6">
                <input type="submit" class="btn btn-block btn-primary" value="Submit">
            </div>
            <div class="col-xs-3">
                <a href="{% url 'add_address' %}" class="btn btn-block btn-primary">Add Address</a>
            </div>
        </div>
    </form>
    </div>

{% endblock %}