{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
    {% if not user_is_auth %}
        <div class='row text-center'>
            <div class='col-sm-6'>
                <h1>Continue as guest</h1>
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ email_form|crispy }}
                    <input class='btn btn-block btn-primary' type="submit" value="Submit" />
                </form>
            </div>
            <div class='col-sm-6'>
                <div class='row'>
                    <h1>Login</h1>
                    <form method="post" action="{% url 'auth_login' %}">
                        {% csrf_token %}
                        {{ login_form|crispy }}
                        <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Submit' %}" />
                        <input type="hidden" name="next" value="{{ next_url }}" />
                    </form>
                </div>
                <hr />
                <div class='row'>
                    <div class='col-sm-6 col-sm-offset-3 text-align-center'>
                        <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
                        <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-sm-4 col-sm-offset-4">
        <h1>Your Order:</h1>
        <table class="table text-center">
            <tbody>
            <tr><td colspan="2">Item{% if order.cart.cartitem_set.count > 1 %}s{% endif %}:
            {% for cartitem in order.cart.cartitem_set.all %}
                <br /><b>{{ cartitem.variation }}</b> x {{ cartitem.quantity }}
            {% endfor %}
            </td>
            </tr>

            <tr><td>Tax subtotal:</td><td>{{ order.cart.subtotal }}</td></tr>
            <tr><td>Tax total:</td><td>{{ order.cart.tax_total }}</td></tr>
            <tr><td>Cart total:</td><td>{{ order.cart.total }}</td></tr>
            <tr><td>Shipping total:</td><td>{{ order.shipping_total }}</td></tr>
            <tr><td>Order total:</td><td>{{ order.order_total }}</td></tr>
            </tbody>
        </table>
        </div>
    {% endif %}
{% endblock %}