{% extends 'base.html' %}


<script>
    {% block jquery %}
        $(".position-qty").change(function () {
            var item_id = $(this).prev("input[type='hidden']").val();
            var qantity = $(this).val();
            var data = {
                item_id: item_id,
                qantity: qantity
            };
            console.log(data);

            $.ajax({
                type: "GET",
                url: "{% url 'cart' %}",
                data: data,

                success: function (data) {
                    if (data.deleted){
                        $("#position-"+item_id).fadeOut();
                    } else {
                        $("#positions-total-price-"+item_id).text(data.cart_item_total_price)
                    }
                }
            })
        });
    {% endblock %}
</script>


{% block content %}
    <div class="col-sm-8 col-sm-offset-2">
        <p class="lead">Teststt</p>
        <table class="table">
            <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Products price</th>
            </tr>
            </thead>
            <tbody>
            {% for position in object.cartposition_set.all %}
                <tr>
                    <td>{{ position }}</td>
                    <td>{{ position.item.get_price }}</td>
                    <td>
                    <form method="GET" action=".">
                        <input type="hidden" name="position" value="{{ position.item.id }}">
                        <input class="position-qty" type="number" name="qantity"
                               value="{{ position.quantity }}" title="quantity" width="4">
                        <input id="update-quantity-btn" type="submit" style="display: none;"
                               class="btn-update-qty btn btn-link" value="Update Item">
                    </form>
                    </td>
                    <td id="positions-total-price-{{ position.item.id }}">{{ position.items_total_price }}</td>
                    <td><a href="{{ position.remove }}">X</a></td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}